input {
    width: 100%;
    min-height: 46px;
    border: none;
    outline: none;
    &::placeholder{
        text-transform: capitalize;
    }
}
.label {
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.extraSmall {
    min-width: 10%;
}
.small {
    min-width: 25%;
}
.medium {
    min-width: 40%;
}
.large {
    min-width: 90%;
}
