.wrapper {
    min-width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    padding: 9px 19px;
    color: white;
    text-transform: uppercase;
    border: none;
    background-color: var(--buttonColor);
    border-radius: 999px;
    cursor: pointer;
    user-select: none;
    opacity: 0.9;

    + .wrapper {
        margin-left: 10px;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}
.title {
    padding: 0 10px;
}
