.wrapper {
    max-width: 100%;
    margin: 0 3%;
    padding-bottom: 30px;
}
.container {
    width: 100%;
    display: flex;
    flex: 0 0 50%;
    margin: 35px 0;
}

.room-img {
    flex: 0 0 30%;
    max-width: 30%;
}
.room-content {
    flex: 0 0 50%;
    max-width: 50%;
}
.room-price {
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;
    font-size: 1.8rem;
    padding: 0 15px;
    color: var(--textColor);
    text-align: end;
}
.room-img {
    position: relative;
}
.room-img img {
    width: 100%;
}

.room-name {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--textColorTitle);
}
.room-content {
    padding: 0 15px;
    color: var(--greyColor);
    font-size: 1.4rem;
}

.room-desc {
    font-size: 1.7rem;
    margin: 10px 0;
}
.room-address{
    font-size: 1.5rem;
}
.address-icon{
    padding-right: 5px;
}
.btn-room {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: var(--primaryColor);

    &:hover {
        transform: scale(1.1);
    }
}
