.search-input {
    width: 100%;
    height: 200px;
    background-image: var(--gradientColor);
}
.search-input-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-search{
    width: 10%;
    min-height: 46px;
    border-radius: 0;
}
