.title-new {
    width: 90%;
    margin: 20px auto;
    border-bottom: 2px solid var(--headerTextColor);
}
.title-text {
    font-size: 4rem;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: var(--textColorTitle);
    text-transform: capitalize;
}
