@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playball&display=swap');

.wrapper {
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.see-more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.tour-container {
    width: 29%;
    margin: 30px 0;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--borderGray);
    background-color: var(--backgroundGray);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &:hover {
        transform: scale(1.05);
    }
}
.tour-img {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
    transition: all 1s ease;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(5, 5, 5, 0.2);
}

.tour-decs {
    color: var(--textBlack);
}

.tour-title {   
    font-size: 2.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
}

.tour-infor {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
   
}
.tour-price {
    display: block;
}
.position-btn {
    position: absolute;
    bottom: 4%;
    right: 0;
}
